<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="ReplicaLog" connectionString="Data Source=.\PbftReplicaLogDB.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	<appSettings>
		
		<add key="DownloadingDirectory" value="C:\Diplomovka\Download"/>	<!--string-->
		<add key="UploadingDirectory" value="C:\Diplomovka\Upload"/>		<!--string-->
		<add key="EnableDynamicGradients" value ="True"/>					<!--bool-->

		<add key="CertificateDirectory" value="C:\Diplomovka\Certificats"/>	<!--string-->

		<!--<add key="CentralServerIpAddress" value ="192.168.0.164"/>-->	<!--string-->
		<add key="CentralServerIpAddress" value ="192.168.144.132"/>		<!--string-->
		<add key="CentralServerPort" value ="34258"/>						<!--int-->
		
		<add key="UploadingServerPort" value ="34259"/>						<!--int-->

		<add key="StoredNodesFilePath" value="StoredNodes.json"/>			<!--string-->
		<add key="MyNodeInfo" value="MyNode.json"/>							<!--string-->

		<add key="DownloadingFilePartSize" value ="1048576"/>				<!--int [bytes]-->

		<add key="CreateSslOfferingFiles" value="True"/>					<!--bool-->

		<add key="Instance" value="0"/>										<!--int-->

		<add key="BlockchainFileDirectoryUpload" value="C:\Diplomovka\BlockchainFileUpload"/>		<!--string-->
		<add key="BlockchainFileDirectoryDownload" value="C:\Diplomovka\BlockchainFileDownload"/>	<!--string-->
		<add key="BlockchainFilesTimeCheckingInterval" value="1"/>			<!--int [minutes]-->
		<!--<add key="EncryptFileToBeforeSentInBlockchainUpload" value="true"/> --><!--bool-->

		<!--Logger section-->
		<add key="UseAsynchronousLogging" value="True"/>		<!--bool-->
		<add key="SizeLimitInMB" value="10"/>					<!--int-->
		<add key="EnableLogging" value="True"/>					<!--bool-->
		<add key="LoggingDirectory" value ="C:\Logs"/>			<!--string-->
		<add key="BufferSize" value="1"/>						<!--int-->
		
	</appSettings>

</configuration>