<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		
		<add key="DownloadingDirectory" value="C:\Diplomovka\Download"/>	<!--string-->
		<add key="UploadingDirectory" value="C:\Diplomovka\Upload"/>		<!--string-->
		<add key="EnableDynamicGradients" value ="True"/>					<!--bool-->
		
		<!--<add key="CentralServerIpAddress" value ="192.168.0.164"/>-->   <!--string-->
		<add key="CentralServerIpAddress" value ="192.168.36.132"/>			<!--string-->
		<add key="CentralServerPort" value ="34258"/>						<!--int-->
		
		<add key="UploadingServerPort" value ="34259"/>						<!--int-->

		<add key="StoredNodesFilePath" value="StoredNodes.json"/>
		
		<!--Logger section-->
		<add key="UseAsynchronousLogging" value="True"/>		<!--bool-->
		<add key="SizeLimitInMB" value="10"/>					<!--int-->
		<add key="EnableLogging" value="True"/>					<!--bool-->
		<add key="LoggingDirectory" value ="C:\Logs"/>			<!--string-->
		<add key="BufferSize" value="1"/>						<!--int-->
		
	</appSettings>

</configuration>