<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		
		<add key="DownloadingDirectory" value="C:\Diplomovka\Download"/>	<!--string-->
		<add key="UploadingDirectory" value="C:\Diplomovka\Upload"/>		<!--string-->
		<add key="CentralServerPort" value ="34258"/>						<!--int-->
		<add key="EnableDynamicGradients" value ="True"/>					<!--bool-->

		
		<!--Logger section-->
		<add key="UseAsynchronousLogging" value="True"/>		<!--bool-->
		<add key="SizeLimitInMB" value="10"/>					<!--int-->
		<add key="EnableLogging" value="True"/>					<!--bool-->
		<add key="LoggingDirectory" value ="C:\Logs"/>			<!--string-->
		<add key="BufferSize" value="1"/>						<!--int-->
		
	</appSettings>

</configuration>