<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!--<add key="programPath" value="C:\\Users\\tomas\\source\\repos\\Modeel\\Client\\bin\\Debug\\net8.0-windows7.0"/>-->
		<add key="programPath" value="C:\Users\Tlizak\source\repos\Modeel\Client\bin\Debug\net8.0-windows7.0"/>

		<add key="clonedInstancePath" value="C:\\Diplomovka\\Testing"/>
		<add key="numberOfInstances" value="3"/>

		<add key="updateConfig" value="true"/>
		<add key="configName" value="Client.dll.config"/>

		<add key="updateNodes" value="true"/>
		<add key="nodesFileName" value="StoredNodes.json"/>

		<add key="updateOfferingFiles" value="true"/>
		<add key="offeringFiles" value="C:\Diplomovka\Download\CFTS"/>
		<add key="offeringFilesName" value="Downloads - Copy.zip"/>
		<add key="offeringFilesSize" value="5047860961"/>
		<add key="offeringFileSocketType" value="1"/>



	</appSettings>
	
</configuration>