<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Modeel.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Modeel.Settings>
            <setting name="File1Port1" serializeAs="String">
                <value>34259</value>
            </setting>
            <setting name="File1Port2" serializeAs="String">
                <value>34260</value>
            </setting>
            <setting name="File2Size" serializeAs="String">
                <value>2167737</value>
            </setting>
            <setting name="File2Port1" serializeAs="String">
                <value>34259</value>
            </setting>
            <setting name="FlagSwitchCache" serializeAs="String">
                <value>4194304</value>
            </setting>
            <setting name="File1Name" serializeAs="String">
                <value>JohnWick.mkv</value>
            </setting>
            <setting name="File1Size" serializeAs="String">
                <value>14651859537</value>
            </setting>
            <setting name="File2Name" serializeAs="String">
                <value>SampleText.txt</value>
            </setting>
            <setting name="File3Name" serializeAs="String">
                <value>PDF.pdf</value>
            </setting>
            <setting name="File3Size" serializeAs="String">
                <value>3821115</value>
            </setting>
            <setting name="File3Port1" serializeAs="String">
                <value>34259</value>
            </setting>
            <setting name="File4Port1" serializeAs="String">
                <value>34259</value>
            </setting>
            <setting name="File1IpAddress1" serializeAs="String">
                <value>192.168.0.120</value>
            </setting>
            <setting name="File1IpAddress2" serializeAs="String">
                <value>192.168.0.120</value>
            </setting>
            <setting name="File2IpAddress1" serializeAs="String">
                <value>192.168.0.120</value>
            </setting>
            <setting name="File3IpAddress1" serializeAs="String">
                <value>192.168.0.120</value>
            </setting>
            <setting name="File4Name" serializeAs="String">
                <value>TheOffice.mkv</value>
            </setting>
            <setting name="File4Size" serializeAs="String">
                <value>315069931</value>
            </setting>
            <setting name="File4IpAddress1" serializeAs="String">
                <value>192.168.0.120</value>
            </setting>
        </Modeel.Settings>
    </userSettings>

    <appSettings>
		<add key="DownloadingDirectory" value="C:\Diplomovka\Download"/>
		<add key="UploadingDirectory" value="C:\Diplomovka\Upload"/>
	</appSettings>

</configuration>