<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Modeel.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Modeel.Settings>
            <setting name="File1IpAddress1" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="File1Port1" serializeAs="String">
                <value>34259</value>
            </setting>
            <setting name="File1IpAddress2" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="File1Port2" serializeAs="String">
                <value>34260</value>
            </setting>
            <setting name="File1Name" serializeAs="String">
                <value>C:\Users\tomas\Downloads\v0.0.1.zip</value>
            </setting>
            <setting name="File1Size" serializeAs="String">
                <value>2033973432</value>
            </setting>
            <setting name="File2Name" serializeAs="String">
                <value>C:\Users\tomas\Downloads\sample-2mb-text-file.txt</value>
            </setting>
            <setting name="File2Size" serializeAs="String">
                <value>2167737</value>
            </setting>
            <setting name="File2IpAddress1" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="File2Port1" serializeAs="String">
                <value>34259</value>
            </setting>
            <setting name="FlagSwitchCache" serializeAs="String">
                <value>4194304</value>
            </setting>
        </Modeel.Settings>
    </userSettings>
</configuration>